<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
        <ul class="cart__item-list">
            <% products.forEach(({ productId: { title, _id }, quantity }) => { %>
            <li class="cart__item">
                <h1><%= title %></h1>
                <h2>Quantity: <%= quantity %></h2>
                
            </li>
            <% }) %>
        </ul>
        <div class="centered">
            <h2>Total: <%= totalSum %></h2>
        </div>
        <div class="centered">
            <button id="order-btn" class="btn">ORDER</button>
            <script src="https://js.stripe.com/v3/"></script>
            <script>
                var stripe = Stripe('pk_test_51H2cMBBXNWkEWwh5q7SblJK2LwT8vkz1BEnOGdWx5IzURqdb5xBIgIz6UZlhaosm8aP8DFt8cEHV9iQjpDuMQSGr00lY5HTdmd');
                var orderBtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', function(){
                    stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>',
                    })
                })
            </script>
        </div>
    <% } %>
    </main>
    <%- include('../includes/end.ejs') %>